<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dang ky thanh vien</title>
</head>
<body>

<form action="" method="POST">
    <input type="text" name="hoten" id="hoten" />

    <select name="nghenghiep" id="nghenghiep">
        <% job.forEach(function(k, j){ %>
            <option value="<%- j %>"><%- k %></option>
        <% }); %>
    </select>
    
    <br />
    
    <input type="radio" name="gender" value="0"> Male<br>
    <input type="radio" name="gender" value="1"> Female<br>
    <input type="radio" name="gender" value="2"> Khong muon noi
    <br/>

    Are you ok? <input type="checkbox" name="ok" />

    <br/>
    <input type="submit" name="btnDangKy" />
</form>

</body>
</html>