
<form action="" method="POST">
    <input type="hidden" value="13" name="chayngaydi" />
    <input type="checkbox" checked name="OK" />

    <input type="text" name="username" value="TEO" />

    <select name="job">
        <option value="0">Học sinh</option>
        <option value="1">SV</option>
        <option selected="select" value="2">khác</option>
    </select>

    <textarea name="intro">...</textarea>

    <input type="file" name="hinh" />

    <input type="submit" value="OK" />
</form>

